* {
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	margin: 2%;
}

.query {
	float: right;
	width: 33%;
	min-height: 100%;
}

.slideshow {
	float: left;
}

.slideshow img {  
	padding: 20px;  
	border:  1px solid #ccc;  
	background-color: #eee;  
	position: absolute;
	width: 60%;
	top:  1; 
	left: 1;
}

 
